<footer class="main-footer">
  <div class="container clearfix">
        <a class="icon-rss" href="{{ .Site.BaseURL }}post/index.xml" title="RSS"></a>
        <p>&copy; {{ .Now.Format "2006" }} &middot; {{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="{{ .Site.BaseURL }}js/plugins.js"></script>
{{ with .Site.Params.google_analytics }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
  var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
</body>
</html>
